@media (min-width: 1024px) {
    .firstview {
        background-image: url('images/book.jpg');
        background-size: cover;
        min-height: 706px;
    }
}


.overlay-text {
    position: absolute;
    top: 50%;
    left: 16%;
    transform: translate(-50%, -50%);
    color: #EDDDD8;
    text-align: left;
    padding: 20px;
    font-weight: 300;
    font-size: 100%;
}